  
  body {
  background-color: #EDEFEC;
}

.container {
display: flex;
justify-content: center;
align-items: center;
  flex-direction:column;
}
.item {
  font-family: Arial, Helvetica, sans-serif;
 text-align:center;
height: auto;
width: auto;
margin-top: -px;


}
.header{
  color: #3a3d3a;
font-family: arial ;
margin-bottom: -20px;
font-size: 26px;

}
.par{
  color: #858784;
  font-family:arial;
  font-size: 10px;

}


.container1{
  display: flex;
justify-content: center;
  flex-direction:row;
  
}

.item1{
  height: 200px;
  width: 200px;
  margin: 10PX;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 23px;
  display: flex; 
  align-items:center;
  justify-content: center;



}
.sf{
  
  background:url("img/sf1.jpg");
  display: flex;


  paddin

  

  
}

.ny{
  
  background:url("img/NY.jpg");

}

.london{
  background:url("img/lon.jpg");

}

.container2{
  display: flex;
justify-content: center;
align-items: center;
font-family:arial;
margin-top: 30px;

}
.border{
  background-color: white;
  color: #656864;
border: #b5b8b4 solid 1px;
padding-right: 10px;
padding: 5px 40px;
font-size: 10px;


}

.napa{
  background: url("img/napa1.jpg")
}
.Sonoma{
  background: url("img/sonoma1.jpg")
}

.sf2{
  background: url("img/sf2.jpg")
}